<!-- DETAILS SECTION -->
<section id="details" name="details"></section>
<div id="detailwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8-offset-2 centered">
        <h1>AN OVERVIEW OF THE FESTIVITIES</h1>
        <h3 class="text-muted">When, where, etc.</h3>
      </div><!-- /col-lg-8 -->
    </div><!--/row -->
    <div class="row">
      <div class="col-sm-12">
        <h2 class="centered">Please join us at a reception celebrating our marriage!</h2>
      </div>
    </div>
    <div class="row mt">
      <div class="detail">
        <div class="col-md-3 col-lg-3 date">
          <div class="embiggen">
            <p class="light">SATURDAY</p>
            <p class="bold">may ninth</p>
            <p class="bold">two thousand and fifteen</p>
            <!-- <p class="bold">05.09.2015</p> -->
            <p>SIX O'CLOCK</p>
            <img src="assets/ohio.svg" data-fallback-image="assets/ohio.png" role="presentation" class="img-responsive">
          </div>
        </div>
        <div class="col-md-9 col-lg-9">
          <section id="map">
              <div id="google-container"></div>
              <div id="cd-zoom-in"></div>
              <div id="cd-zoom-out"></div>
              <address>
                <strong>Vue</strong> <br>95 Liberty Street, Columbus, OH 43215</address> 
          </section>
        </div>
      <% content_for :maps do %>
        <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCQoZIY2lj-j013e3GdfCAmohlPyn69mK4" type="text/javascript"></script>
      <% end %>
      </div>
    </div>

    <div id="calendar"></div>

    <script type="text/template" id="template-calendar">
      <div class="clndr-controls">
        <div class="clndr-previous-button">&lsaquo;</div>
        <div class="month">{{= month }}</div>
        <div class="clndr-next-button">&rsaquo;</div>
      </div>
      <div class="clndr-grid">
        <div class="days-of-the-week clearfix">
          {{ _.each(daysOfTheWeek, function(day) { }}
            <div class="header-day">{{= day }}</div>
          {{ }); }}
          <div class="days clearfix">
            {{ _.each(days, function(day) { }}
              <div class="{{= day.classes }}">{{= day.day }}</div>
            {{ }); }}
          </div>
        </div>
      </div>
      <div class="clndr-today-button">Today</div>
    </script>

  </div>
</div>