<!-- DETAILS SECTION -->
<section id="details" name="details"></section>
<div id="detailwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8-offset-2 centered">
        <h1 class="sectionHead">AN OVERVIEW OF THE FESTIVITIES</h1>
        <h3 class="text-muted">When, where, etc.</h3>
      </div><!-- /col-lg-8 -->
    </div><!--/row -->
    <div class="row">
      <div class="col-sm-12">
        <h2 class="centered">Please join us at a reception celebrating our marriage!</h2>
      </div>
    </div>
    <div class="row mt">
      <div class="detail">
        <div class="col-md-3 col-lg-3 date">
          <div class="embiggen">
            <p class="light">SATURDAY</p>
            <p class="bold">may ninth</p>
            <p class="bold">two thousand and fifteen</p>
            <!-- <p class="bold">05.09.2015</p> -->
            <p>SIX O'CLOCK</p>
            <img src="assets/ohio.svg" data-fallback-image="assets/ohio.png" role="presentation" class="img-responsive">
          </div>
        </div>
        <div class="col-md-9 col-lg-9">
          <section id="map">
              <div id="google-container"></div>
              <div id="cd-zoom-in"></div>
              <div id="cd-zoom-out"></div>
              <address>
                <strong>Vue</strong> <br>95 Liberty Street, Columbus, OH 43215</address> 
          </section>
        </div>
      <% content_for :maps do %>
        <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCQoZIY2lj-j013e3GdfCAmohlPyn69mK4" type="text/javascript"></script>
      <% end %>
      </div>
    </div>

  <hr>

  <div class="row">
    <div class="col-sm-12">
      <h1 class="centered secondary">HOTEL ACCOMODATIONS</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p class="lead">
        We're working on setting up a group discount, but if you're just too excited and want to book a room now, 
          <a href="https://www.google.com/search?q=hotels%20brewery%20district%20columbus%20ohio&rct=j">here's a good start</a>!
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h1 class="centered secondary">ATTIRE</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p class="lead">
        The only thing that we really want (outside of a marriage filled with everlasting puppy love and rainbows and stuff), is for you to be comfortable. This isn't a black tie event, but if that's what you want to wear, go for it! It'd be nice if you left the jeans at home, though.
      </p>
    </div>
  </div>
</div>
</div>