<!-- DETAILS SECTION -->
<section id="details" name="details"></section>
<div id="detailwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8-offset-2 centered">
        <h1 class="sectionHead">AN OVERVIEW OF THE FESTIVITIES</h1>
        <h3 class="text-muted">When, where, etc.</h3>
      </div><!-- /col-lg-8 -->
    </div><!--/row -->
    <div class="row">
      <div class="col-sm-12">
        <h2 class="centered">Please join us at a reception celebrating our marriage!</h2>
      </div>
    </div>
    <div class="row mt">
      <div class="detail">
        <div class="col-md-3 col-lg-3 date">
          <div class="embiggen">
            <p class="light">SATURDAY</p>
            <p class="bold">may ninth</p>
            <p class="bold">two thousand and fifteen</p>
            <!-- <p class="bold">05.09.2015</p> -->
            <p>SIX O'CLOCK</p>
            <img src="assets/ohio.svg" data-fallback-image="assets/ohio.png" role="presentation" class="img-responsive">
          </div>
        </div>
        <div class="col-md-9 col-lg-9">
          <section id="map">
              <div id="venueMap"></div>
              <div id="venue-zoom-in"></div>
              <div id="venue-zoom-out"></div>
              <address>
                <strong>Vue</strong> <br>95 Liberty Street, Columbus, OH 43215</address> 
          </section>
        </div>
      <% content_for :maps do %>
        <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
      <% end %>
      </div>
    </div>

  <hr id="detailshotel" name="detailshotel">

  <div class="row">
    <div class="col-sm-12">
      <h1 class="centered secondary">HOTEL ACCOMODATIONS</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p class="lead">
        UPDATE: If you are planning on booking a hotel, worry no more! We now have reserved blocks of rooms at the following hotels. Be sure to book your rooms now! Rooms at the specified rates are limited due to OSU's graduation (we know it shouldn't take precedence over our wedding, but we don't rule the world). There is a likelihood we will not be able to increase any blocks, so be sure to seure your reservation early.

        <div class="row">
          <div class="col-sm-12 col-md-6">
          <h3 class="page-header">Courtyard Columbus Downtown</h3>
          <p>Call the toll free reservation line at 1-800-MARIOTT and identify yourself as a member of the <strong>Kulick Wermert Wedding Group</strong>.</p>
            <ul class="list-group">
              <li class="list-group-item">
                <strong>Rate without Parking</strong><br> $129/night
              </li>
              <li class="list-group-item">
                <strong>Rate with Discounted Parking</strong><br> $144/night
              </li>
              <li class="list-group-item">
                <strong>Book Before</strong><br> April 6<sup>th</sup>, 2015
              </li>
              <li class="list-group-item">
                <button type="button" class="btn btn-primary" id="open_cy">
                  <i class="fa fa-map-marker"></i> View On Map
                </button>
              </li>
            </ul>

          </div>
          <div class="col-sm-12 col-md-6">
            <h3 class="page-header">Holiday Inn Columbus Downtown Capitol Square</h3>
            <p><a class="btn btn-success" target="_blank" href="http://www.holidayinn.com/redirect?path=hd-local-city-guide-directions&brandCode=hi&localeCode=en&regionCode=1&hotelCode=CMHET&_PMID=99801505&GPC=KWW">Reserve your room online.</a></p>
            <ul class="list-group">
              <li class="list-group-item"><strong>Rate</strong><br> $119/night</li>
              <li class="list-group-item"><strong>Parking</strong><br> $12 daily rate with in/out privileges</li>
              <li class="list-group-item">
                <strong>Book Before</strong><br> April 8<sup>th</sup>, 2015
              </li>
              <li class="list-group-item">
                <button type="button" class="btn btn-primary" id="open_hi">
                  <i class="fa fa-map-marker"></i> View On Map
                </button>
              </li>
            </ul>
          </div>
          <div class="col-sm-12">
            <section id="hotels_map">
                <div id="hotelsMap"></div>
            </section>
          </div>
        </div>

        <p>Shuttle services will be available for guests to and from these hotels on the day of our wedding to enjoy the festivities. Guests will receive detailed information at hotel check in.</p>

        <p>If you would prefer to drive to and from the reception, we have secured the lot located behind the venue and self parking will be free of charge.</p>

      </p>
    </div>
  </div>

  <hr id="details_attire" name="details_attire">

  <div class="row">
    <div class="col-sm-12">
      <h1 class="centered secondary">ATTIRE</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p class="lead">
        The only thing that we really want (outside of a marriage filled with everlasting puppy love and rainbows and stuff), is for you to be comfortable. This isn't a black tie event, but if that's what you want to wear, go for it! It'd be nice if you left the jeans at home, though.
      </p>
    </div>
  </div>

  <hr id="details_registry" name="details_registry">

  <div class="row">
    <div class="col-sm-12">
      <h1 class="centered secondary">REGISTRY</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p class="lead">
        We haven't gotten around to that part quite yet...
      </p>
    </div>
  </div>
</div>
</div>