<section id="party" name="party"></section>
<div id="partywrap">
  <div class="container">
    <div class="row">
      <h1 class="sectionHead centered">WEDDING PARTY</h1>
    </div>

    <div class="row">
      <div class="col-sm-4 col-sm-offset-1">
        <div class="panel panel-default">
          <div class="panel-image hide-panel-body">
            <img src="/assets/Conor.jpg" data-new-img="/assets/Conor2.jpg" class="panel-image-preview" alt="">
          </div>
          <div class="panel-body">
            
          </div>
          <div class="panel-footer text-center">
            <h3>Conor Kinsella</h3>
            <hr>
            <h5>Best Man</h5>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-sm-offset-2">
        <div class="panel panel-default">
          <div class="panel-image hide-panel-body">
            <img src="/assets/Sonia.jpg" data-new-img="/assets/Sonia2.jpg" class="panel-image-preview" alt="">
          </div>
          <div class="panel-body">
            
          </div>
          <div class="panel-footer text-center">
            <h3>Sonia Kreimer</h3>
            <hr>
            <h5>Matron of Honor</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1">
        <div class="panel panel-default">
          <div class="panel-image hide-panel-body">
            <img src="/assets/Justin.jpg" data-new-img="/assets/Justin2.jpg" class="panel-image-preview" alt="">
          </div>
          <div class="panel-body">
            
          </div>
          <div class="panel-footer text-center">
            <h3>Justin DeBrosse</h3>
            <hr>
            <h5>Groomsman</h5>
          </div>
        </div>
      </div>      
      <div class="col-sm-2">
        <div class="panel panel-default">
          <div class="panel-image hide-panel-body">
            <img src="/assets/Jack.jpg" data-new-img="/assets/Jack2.jpg" class="panel-image-preview" alt="">
          </div>
          <div class="panel-body">
            
          </div>
          <div class="panel-footer text-center">
            <h3>Jack Mulichak</h3>
            <hr>
            <h5>Groomsman</h5>
          </div>
        </div>
      </div>

      <div class="col-sm-2 col-sm-offset-2">
        <div class="panel panel-default">
          <div class="panel-image hide-panel-body">
            <img src="/assets/Mandy.jpg" data-new-img="/assets/Mandy2.jpg" class="panel-image-preview" alt="">
          </div>
          <div class="panel-body">
            
          </div>
          <div class="panel-footer text-center">
            <h3>Amanda M<sup>c</sup>Cann</h3>
            <hr>
            <h5>Bridesmaid</h5>
          </div>
        </div>
      </div>      
      <div class="col-sm-2">
        <div class="panel panel-default">
          <div class="panel-image hide-panel-body">
            <img src="/assets/Thea.jpg" data-new-img="/assets/Thea2.jpg" class="panel-image-preview" alt="">
          </div>
          <div class="panel-body">
            
          </div>
          <div class="panel-footer text-center">
            <h3>Thea Mulichak</h3>
            <hr>
            <h5>Bridesmaid</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>