<!-- TIMELINE SECTION -->
<section id="timeline" name="timeline"></section>
<div id="timelinewrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8-offset-2 centered">
        <h1>A BRIEF HISTORY</h1>
        <h3>Of Craig &amp; Nicole</h3>
      </div><!-- /col-lg-8 -->
    </div><!--/row -->


    <div class="container-fluid timeline-container">
      <div class="page-header">
        <h1 id="timeline">Timeline</h1>
      </div>
      <ul class="timeline">
      <% @stories.each do |story| %>
        <li>
          <div class="timeline-badge"><i class="icon-{{this.icon}}"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%= story.title %></h4>
              <p><small class="text-muted"><%= fa_icon "clock-o" %> <%= story.time %></small></p>
            </div>
            <div class="timeline-body">
              <p><%= story.content.html_safe %></p>
            </div>
          </div>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>