<div id="content">
  <section id="home" name="home"></section>
  <div id="headerwrap">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1>CRAIG &amp; NICOLE</h1>
        </div>
      </div><!--/row -->
    </div><!--/container -->
  </div><!--/headerwrap -->

  <%= render 'shared/about' %>
  <!-- ABOUT SEPARATOR -->
  <div class="sep about" data-stellar-background-ratio="0.5"></div>
  <%= render 'shared/details' %>
  <div class="sep tl" data-stellar-background-ratio="0.5"></div>
  <%= render 'shared/timelinejs' %>
  <!-- <div id="timelineContainer"></div> -->
  <div class="sep details" data-stellar-background-ratio="0.5"></div>
  <%= render 'shared/party' %>
  <div class="sep details" data-stellar-background-ratio="0.5"></div>
  <%#= render 'shared/rsvp' %>
</div>

<div class="modal fade" id="sign_in" tabindex="-1" role="dialog" aria-labelledby="sign_in_label" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="sign_in_label">Sign In</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>